* {
	box-sizing: border-box;
	margin: 0;
}


header {
	text-align: center;
	color: black;
	padding: 20px;
	
}

#city-info {
	margin: 10px;
}

.sidebar {
	background-color: grey;
	padding: 10px;
}

.daycard {
	margin: 10px;
}